$white: #ffffff;
$grayish-white: #f8f8f8;
$gray: #cccccc;
$light-gray: #d1d1d1;
$dark: #1d2023;
$blue: #007cff;
$dark-blue: #006fe5;
$light-blue: #2684ff;
$green: #4fc54c;
$red: red;
$border-color: #c1c0c6;

$background-main: #f9f8fb;
$background-white: rgba(255, 255, 255, 1);
$background-black: rgba(17, 17, 17, 1);
$background-overlay: rgba(33, 136, 246, 0.15);
$background-grey: rgba(244, 245, 246, 1);
$input-label: #626c77;
$input-background: $white;
$active-link: #1db7f0;
$logo-color: #3fadb1;

