.authorization {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.infoNoAuth {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $green;
  border-radius: 15px;
  color: $white;
}

.infoAuth {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.infoText {
  margin-top: 0px;
  margin-bottom: 20px;
}

.orgAuthLink {
  color: $light-gray;
}

.checkLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  background-color: $green;
  color: $white;
  border-radius: 5px;
  text-decoration: none;
}

.checkLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.buttonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 40px;
  width: 250px;
  background-color: $light-blue;
  color: $white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $dark-blue;
  }
}

.buttonLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 40px;
  width: 250px;
  background-color: $red;
  color: $white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(206, 23, 23);
  }
}
