.title {
  padding-bottom: 20px;

  font-family: Nunito, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}

.eventsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 25px;
  column-gap: 17px;
  flex-wrap: wrap;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 12px;
  margin-bottom: 32px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > div > button {
    margin-right: 8px;
  }
}

.citiesWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
}

.eventsLoadMoreButton {
  margin: 32px auto 0 auto;
}

.counterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 298px;
  height: 48px;
  border-radius: 12px;
  padding: 8px 24px 8px 24px;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}

.counterText {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.counter {
  margin-left: 24px;
  border-radius: 50px;
  background: rgba(29, 183, 240, 1);
  width: 24px;
  height: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtersCitiesWrapper {
  display: flex;
  justify-content: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
