.burger {
  display: block;
  transform-origin: 16px 11px;
  float: left;
  outline: 0;
  border: 0;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: $background-white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :not(:last-child) {
    margin-bottom: 4px;
  }
  span {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    width: 20px;
    border-radius: 10px;
    background: $background-white;
    border: 1.8px solid $background-black;
  }

  &:hover {
    :nth-of-type(1) {
      width: 22px;
    }

    :nth-of-type(2) {
      width: 24px;
    }

    :nth-of-type(3) {
      width: 26px;
    }
  }

  &.active {
    span:nth-of-type(1) {
      transform: rotate(45deg) translate(10px, 10px);
      width: 40px;
    }

    span:nth-of-type(2) {
      opacity: 0;
      pointer-events: none;
    }

    span:nth-of-type(3) {
      transform: rotate(-45deg) translate(7px, -7px);
      width: 40px;
    }
  }
}
