.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: $button-auth-default;
  border-radius: 12px;
  width: 255px;
  padding: 22px, 32px, 22px, 32px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: $background-white;
  &:hover {
    background-color: $button-auth-hover;
  }

  &:active {
    background-color: $button-auth-pressed;
  }

  svg {
    margin-right: 8px;
  }
}
