.authorization {
  height: 52px;
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }
}
