.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}

.label {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: $input-label;
  position: absolute;
  top: 5px;
  left: 20px;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.error {
  height: 15px;
  color: $red;
}
