.Button {
  border-radius: 12px;
  padding: 24px;
  line-height: 24px;
  font-weight: 600;
  background: $button-desktop-default;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: $white;

  &__desktop {
    width: 267px;
    height: 64px;
    font-size: 18px;

    &:hover,
    &:focus {
      background: $button-desktop-hover;
    }

    &:active {
      background: $button-desktop-pressed;
    }
  }

  &__mobile {
    width: 243px;
    height: 56px;
    font-size: 16px;

    &:hover,
    &:focus {
      background: $button-desktop-hover;
    }

    &:active {
      background: $button-desktop-pressed;
    }
  }

  &__vk {
    height: 68px;
    background-color: $button-auth-default;
    width: 255px;
    padding: 22px, 32px, 22px, 32px;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: $button-auth-hover;
    }

    &:active {
      background-color: $button-auth-pressed;
    }

    svg {
      margin-right: 8px;
    }

    @include media-xs {
      width: 100%;
      height: 68px;
      font-size: 16px;
      padding: 10px;
    }
  }

  &__burger {
    transform-origin: 16px 11px;
    float: left;
    outline: 0;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: $background-white;
    flex-direction: column;
    transition: $animation-hover;

    :not(:last-child) {
      margin-bottom: 4px;
    }
    span {
      transition: $animation-hover;
      display: block;
      width: 20px;
      border-radius: 10px;
      border: 1.8px solid $background-black;
    }

    &:hover,
    &:focus {
      background: rgba(29, 183, 240, 0.2);

      span {
        border: 1.8px solid rgba(17, 171, 228, 1);
      }
    }

    &:active {
      background: rgba(33, 136, 246, 1);

      span {
        border: 1.8px solid $background-white;
      }
    }
  }

  &__loadMore {
    width: auto;
    border: 2px solid rgba(17, 171, 228, 1);
    height: 64px;
    color: rgba(17, 171, 228, 1);
    background: inherit;
    font-size: 18px;
    line-height: 24px;
    transition: $animation-hover;

    &:hover {
      background: $button-desktop-hover;
      color: rgba(255, 255, 255, 1);
      border: none;
    }

    &:active {
      background: $button-desktop-pressed;
      color: rgba(255, 255, 255, 1);
      border: none;
    }
  }

  &__clear {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    color: black;
  }
}

.Button__loading {
  cursor: not-allowed;

  &::before {
    position: absolute;

    display: block;
    overflow: hidden;

    width: 16px;
    height: 16px;

    content: " ";
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='8.5' fill='none' stroke='%23FFFFFF' stroke-width='3' stroke-dasharray='45' stroke-linecap='round'/%3E%3C/svg%3E")
      center center no-repeat;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
