.Button {
  border-radius: 12px;
  padding: 24px;
  line-height: 24px;
  font-weight: 600;
  background: $button-desktop-default;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: $background-white;

  &:hover {
    background: $button-desktop-hover;
  }

  &:active {
    background: $button-desktop-pressed;
  }

  &__desktop {
    width: 267px;
    height: 64px;
    font-size: 18px;
  }

  &__mobile {
    width: 243px;
    height: 56px;
    font-size: 16px;
  }

  &__vk {
    height: 68px;
    background-color: $button-auth-default;
    width: 255px;
    padding: 22px, 32px, 22px, 32px;
    font-size: 18px;
    &:hover {
      background-color: $button-auth-hover;
    }

    &:active {
      background-color: $button-auth-pressed;
    }

    svg {
      margin-right: 8px;
    }
  }

  &__burger {
    transform-origin: 16px 11px;
    float: left;
    outline: 0;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: $background-white;
    flex-direction: column;

    :not(:last-child) {
      margin-bottom: 4px;
    }
    span {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: block;
      width: 20px;
      border-radius: 10px;
      background: $background-white;
      border: 1.8px solid $background-black;
    }

    &:hover {
      background: $background-white;
      :nth-of-type(1) {
        width: 22px;
      }

      :nth-of-type(2) {
        width: 24px;
      }

      :nth-of-type(3) {
        width: 26px;
      }
    }

    &:active {
      background: $background-white;
    }
  }

  &__clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    color: black;

    &:hover {
      background: none;
    }

    &:active {
      background: none;
    }
  }
}

.Button__primary {
  background-color: $blue;

  &:hover:not(.Button__loading) {
    transition: background-color 0.3s;

    background-color: $dark-blue;
  }
}

// .Button__desktop {
//   width: 267px;
//   height: 64px;
//   border-radius: 12px;
//   padding: 24px;
//   background: $button-desktop-default;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: rgba(255, 255, 255, 1);

//   &:hover {
//     background: $button-desktop-hover;
//   }

//   &:active {
//     background: $button-desktop-pressed;
//   }
// }

// .Button__desktopIconLeft
// .Button__desktopIconRight

.Button__loading {
  cursor: not-allowed;

  &::before {
    position: absolute;

    display: block;
    overflow: hidden;

    width: 16px;
    height: 16px;

    content: " ";
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='8.5' fill='none' stroke='%23FFFFFF' stroke-width='3' stroke-dasharray='45' stroke-linecap='round'/%3E%3C/svg%3E")
      center center no-repeat;
  }
}

.Button__fluid {
  width: 100%;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
