.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 8px 16px;
  border-radius: 226px;
  background: rgba(244, 245, 246, 1);
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  height: 42px;
  width: auto;
  text-wrap: none;

  &:hover {
    background: rgba(254, 236, 220, 1);
  }

  &:active {
    background: rgba(241, 214, 191, 1);
  }

  &__active {
    background: rgba(254, 236, 220, 1);
  }

  &__editable {
    cursor: auto;
    &:hover {
      background: rgba(254, 236, 220, 1);
    }

    &:active {
      background: rgba(254, 236, 220, 1);
    }
  }

  &__disabled {
    cursor: auto;
    background: rgba(244, 245, 246, 1);
    color: rgba(131, 136, 143, 1);
    &:hover {
      background: rgba(244, 245, 246, 1);
    }
    svg {
      fill: rgba(131, 136, 143, 1);
    }
  }

  svg {
    margin-right: 4px;
  }
}

.closeButton {
  border: none;
  background: none;
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 3;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  margin-right: 0;
}
