.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 4px;
}

.input {
  font-weight: 400;
  font-size: 12px;
  font-family: inherit;
  height: 44px;
  padding: 9px 11px;
  border: 1px solid $gray;
  border-radius: 5px;

  &:focus {
    outline: none;
    border: 1px solid $light-blue;
    box-shadow: 0 0 0 1px $light-blue;
  }

  &:-moz-read-only:focus {
    outline: none;
    border: 1px solid $gray;
    box-shadow: none;
  }

  &:read-only:focus {
    outline: none;
    border: 1px solid $gray;
    box-shadow: none;
  }
}

.inputCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $white;
  cursor: pointer;

  &:checked::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: $gray;
    border-radius: 2px;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: $input-label;
}

.error {
  height: 15px;
  color: $red;
}

.readOnly {
  background-color: $grayish-white;
  color: $gray;
}
