.container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
}

.input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  height: 64px;
  padding: 13px 20px;
  border: 1px solid $border-color;
  border-radius: 12px;

  &Active {
    padding: 27px 20px 13px 20px;
  }

  &:focus {
    outline: none;
    border: 1px solid $light-blue;
    box-shadow: 0 0 0 1px $light-blue;
  }

  &:-moz-read-only:focus {
    outline: none;
    border: 1px solid $gray;
    box-shadow: none;
  }

  &:read-only:focus {
    outline: none;
    border: 1px solid $gray;
    box-shadow: none;
  }
}

.inputCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $white;
  cursor: pointer;

  &:checked::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: $gray;
    border-radius: 2px;
  }
}

.label {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $input-label;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  pointer-events: none;

  &Active {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    top: 13px;
    left: 20px;
    transition: all 0.3s ease-out;
  }
}

.error {
  height: 15px;
  color: $red;
}

.readOnly {
  background-color: $grayish-white;
  color: $gray;
}
