.Link {
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 300px;

  height: 44px;
  padding: 0 32px;

  cursor: pointer;

  color: $white;
  background-color: $blue;
  border: none;
  border-radius: 5px;
  text-decoration: none;

  &_disabled:hover > * {
    display: block;
  }

  &_disabled {
    background: rgb(127, 17, 224, 0.5);
    cursor: default;
  }

  &_disabled:active {
    pointer-events: none;
  }
}
