.card {
  width: 390px;
  height: 537px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: 0px 4px 30px 0px rgba(57, 62, 85, 0.1);
  border-radius: 24px;
  background-color: $white;
}

.cardTitle {
  height: 60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  height: 97px;
  text-align: left;
  margin-bottom: 27px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: -13.5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: $background-grey;
  }
}

.cardTimeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 56px;
  margin-bottom: 27px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  div {
    display: flex;
    align-items: center;
    svg {
      margin-right: 7px;
    }
  }

  div:not(:last-child) {
    margin-right: 24px;
  }

  div:last-child {
    flex-basis: 100%;
    margin-top: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -13.5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: $background-grey;
  }
}

.cardSpickerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
  height: 50px;

  &_Big {
    height: auto;
    margin-bottom: 28px;
  }
}

.cardForWhomWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
  height: 60px;

  &_Big {
    width: 100%;
    height: auto;
    margin-bottom: 35px;

    div:last-child {
      &::after {
        content: "";
        position: absolute;
        bottom: -17.5px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: $background-grey;
      }
    }
  }
}

.spickerTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &_Big {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    > svg {
      margin-right: 8px;
    }
  }
}

.cardText {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &_Big {
    width: 100%;
    position: relative;
    height: auto;
    text-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: flex-end;
  margin-top: 32px;
}

.button {
  width: 186px;
  height: 48px;
  padding: 12px 18px;

  &_Big {
    width: 600px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 16px;
    }
  }

  svg {
    margin-right: 16px;
  }
}

.bigCard {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  box-shadow: 0px 4px 30px 0px rgba(57, 62, 85, 0.1);
  margin-top: 32px;
  padding: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.bigCardTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 16px;
}

.bigCardDescription {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
  position: relative;
  width: 100%;
  height: auto;
  text-wrap: wrap;
  white-space: pre-line;
  word-wrap: break-word;

  &::after {
    content: "";
    position: absolute;
    bottom: -17.5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: $background-grey;
  }
}

.bigCardTimeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 35px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  height: 72px;

  div:last-child {
    flex-basis: 100%;
  }

  div {
    display: flex;
    align-items: center;
    margin-right: 24px;
    svg {
      margin-right: 7px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -17.5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: $background-grey;
  }
}

.spickerAddInfo_Big {
  width: 100%;
  margin-bottom: 28px;
}

.spickerAddInfoLink_Big {
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -17.5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: $background-grey;
  }
}

.links {
  color: rgba(33, 136, 246, 1);
}
