.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 1400px;
  padding: 30px 0 30px 0;
  margin: 0 auto 20px auto;

  // @include media-xl {
  //   max-width: 1200px;
  // }

  // @include media-lg {
  //   max-width: 964px;
  // }

  // @include media-md {
  //   max-width: 740px;
  // }
}

.navbarLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
  :hover,
  :active {
    cursor: pointer;
  }
}

.navbarMeetings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 378px;
  position: relative;
  :hover,
  :active {
    cursor: pointer;
    color: $active-link;
    fill: $active-link;
  }

  @include media-md {
    flex-direction: column;
    justify-content: center;
    > a {
      height: 56px;
      margin-bottom: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 100vw;
      height: 3px;
      border-radius: 20px;
      background: $background-grey;
    }
  }
}

.activePath {
  color: $active-link;
  fill: $active-link;
  transition: all 0.25s linear;
  :hover,
  :active {
    cursor: pointer;
  }
}

.link {
  color: $logo-color;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  width: 237px;
  text-transform: uppercase;
}

.contentWrapper {
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileMobile > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  cursor: pointer;
  margin-bottom: 4px;
  &:hover,
  &:active {
    color: $active-link;
    fill: $active-link;
  }
}

.closeButton {
  position: absolute;
  top: 46px;
  right: 16px;
  z-index: 10000;
  cursor: pointer;
  transition: $animation-hover;

  &:hover {
    rect {
      fill: rgba(29, 183, 240, 0.2);
    }
    path {
      fill: rgba(17, 171, 228, 1);
    }
  }

  &:active {
    rect {
      fill: rgba(33, 136, 246, 1);
    }
    path {
      fill: $background-white;
    }
  }
}
