.titleWrapper {
  width: 100%;
  padding: 96px 0 90px 0;

  @include media-xl {
    margin-bottom: 30px;
  }

  @include media-lg {
    margin-bottom: 10px;
  }

  @include media-md {
    padding: 96px 0 62px 0;
  }

  @include media-xs {
    padding: 96px 0 40px 0;
    margin-bottom: 20px;
  }
}

.titleWrapperContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.titleHeadWrapper {
  position: relative;
}

.titleHead {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 24px;
  color: rgba(17, 17, 17, 1);
  text-align: center;

  @include media-md {
    font-size: 40px;
  }
}

.titleText {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(17, 17, 17, 0.8);
  margin-bottom: 40px;

  @include media-md {
    text-align: center;
  }
}

.titleCall {
  position: absolute;
  top: -33px;
  right: -90px;
  background: white;
  border-radius: 150px;
  padding: 12px 16px 12px 16px;
  transform: rotate(12deg);
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @include media-xs {
    padding: 8px 12px 8px 12px;
    font-size: 20px;
    line-height: 20px;
    top: -40px;
    right: 0;
    border-radius: 130px;
  }
}

.titleTopLeftIcon {
  position: absolute;
  left: -112px;
  top: -3px;

  @include media-lg {
    left: -20px;
    top: -49px;
  }

  @include media-md {
    left: 86px;
  }

  @include media-xs {
    left: 0;
    top: -63px;
  }
}

.titleTopRightIcon {
  position: absolute;
  top: -71px;
  right: -144px;

  @include media-lg {
    display: none;
  }
}

.titleBottomRightIcon {
  position: absolute;
  right: 0;
  bottom: -30px;

  @include media-xs {
    bottom: 70px;
    right: -20px;

    > rect {
      width: 8.01px;
      height: 25.98px;
      rx: 6.49;

      &:first-child {
        x: 8;
        y: 27;
      }

      &:last-child {
        x: 35;
        y: 10;
      }
    }
  }
}

.titleBottomLeftIcon {
  position: absolute;
  bottom: -48px;
  left: 28px;

  @include media-xs {
    display: none;
  }
}
