$white: #ffffff;
$grayish-white: #f8f8f8;
$gray: #cccccc;
$light-gray: #d1d1d1;
$dark: #1d2023;
$blue: #007cff;
$dark-blue: #006fe5;
$light-blue: #2684ff;
$green: #4fc54c;
$red: red;

$background-main: #f2f3f7;
$input-label: #626c77;
$input-background: $white;
